.card p {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25ch;
}

.card {
  text-transform: uppercase;
  font-weight: lighter;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  width: 25rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 2rem;
  color: black;
  margin-bottom: 1rem;
}
